name: rustfs
services:
  rustfs:
    user: 10001:10001
    image: docker.io/rustfs/rustfs:1.0.0-alpha.78
    restart: unless-stopped
    cap_drop: 
      - ALL
    security_opt:
      - "no-new-privileges:true"
    healthcheck:
      interval: 5s
      timeout: 5s
      retries: 5
      test: 
        - CMD
        - sh
        - -c
        - 'curl -f -H "Host: ${RUSTFS_DOMAINS}" http://localhost:9000/health && curl -f -H "Host: ${RUSTFS_DOMAINS}" http://localhost:9001/rustfs/console/health'
    environment:
      RUSTFS_ADDRESS: ":9000"
      RUSTFS_CONSOLE_ADDRESS: ":9001"
      RUSTFS_ACCESS_KEY: ${RUSTFS_ACCESS_KEY}
      RUSTFS_SECRET_KEY: ${RUSTFS_SECRET_KEY}
      RUSTFS_CONSOLE_ENABLE: ${RUSTFS_CONSOLE_ENABLE}
      RUSTFS_SERVER_DOMAINS: ${RUSTFS_DOMAINS}
      RUSTFS_REGION: ${RUSTFS_REGION}
      RUSTFS_CORS_ALLOWED_ORIGINS: ${RUSTFS_CORS_ALLOWED_ORIGINS}
      RUSTFS_CONSOLE_CORS_ALLOWED_ORIGINS: ${RUSTFS_CONSOLE_CORS_ALLOWED_ORIGINS}
      RUSTFS_VOLUMES: ${VOLUME_DATA_DST}
      RUST_LOG: ${RUST_LOG}
      TZ: Etc/UTC
    volumes: 
    - type: bind
      source: ${VOLUME_DATA_SRC}
      target: ${VOLUME_DATA_DST}
      read_only: false
    networks:
      - reverse-proxy

networks:
  reverse-proxy:
    external: true
    name: reverse-proxy
