name: sabnzbd
services:
  sabnzbd:
    user: 568:568
    image: lscr.io/linuxserver/sabnzbd:4.5.5
    restart: unless-stopped
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges
    read_only: true
    tmpfs:
      - /run:uid=568,gid=568,exec
      - /tmp:uid=568,gid=568,exec
    healthcheck:
      interval: 10s
      retries: 30
      start_period: 10s
      test: 
        - CMD
        - curl
        - --silent
        - --output
        - /dev/null
        - --show-error
        - --fail
        - http://127.0.0.1:8080/api?mode=version
      timeout: 5s
    environment:
      TZ: Europe/Berlin
      PUID: 568
      PGID: 568
    volumes:
      - type: bind
        source: ${VOLUME_CONFIG_SRC}
        target: ${VOLUME_CONFIG_DST}
        read_only: false
      - type: bind
        source: ${VOLUME_DATA_SRC}
        target: ${VOLUME_DATA_DST}
        read_only: false
    network_mode: "service:gluetun"

  gluetun:
    image: qmcgaw/gluetun:v3.40.3
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      TZ: Europe/Berlin
      VPN_SERVICE_PROVIDER: "${VPN_SERVICE_PROVIDER}"
      VPN_TYPE: "${VPN_TYPE}"
      WIREGUARD_PRIVATE_KEY: "${WIREGUARD_PRIVATE_KEY}"
      SERVER_COUNTRIES: "${SERVER_COUNTRIES}"
      FREE_ONLY: "${FREE_ONLY}"
    networks:
      - sabnzbd
      - reverse-proxy

networks:
  sabnzbd:
  reverse-proxy:
    external: true
    name: reverse-proxy
