name: netzbremse
services:
  speedtest:
    image: ghcr.io/akvorrat/netzbremse-measurement:latest
    container_name: netzbremse-speedtest
    restart: unless-stopped
    #user: "568:568"
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges
    environment:
      NB_SPEEDTEST_ACCEPT_POLICY: true
      NB_SPEEDTEST_JSON_OUT_DIR: ${VOLUME_DATA_DST}
      NB_SPEEDTEST_INTERVAL: 1800
      NB_SPEEDTEST_TIMEOUT: 1200
      NB_SPEEDTEST_RETRY_INTERVAL: 600
      NB_SPEEDTEST_RETRY_COUNT: 3
    volumes:
      - type: bind
        source: ${VOLUME_DATA_SRC}
        target: ${VOLUME_DATA_DST}
        read_only: false
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: '1'
  netzbremse-dashboard:
    image: ghcr.io/lwndp/netzbremse-dashboard:latest
    container_name: netzbremse-dashboard
    restart: unless-stopped
    #user: "568:568"
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges
    environment:
      DATA_DIR: ${VOLUME_DATA_DST}
      REFRESH_INTERVAL_SECONDS: 1800
      DEFAULT_METRIC: download # download, upload, latency, jitter, downLoadedLatency, downLoadedJitter, upLoadedLatency, upLoadedJitter.
    volumes:
      - type: bind
        source: ${VOLUME_DATA_SRC}
        target: ${VOLUME_DATA_DST}
        read_only: true
    networks:
      - reverse-proxy
    deploy:
      resources:
        limits:
          memory: 256M
          cpus: "0.5"
networks:
  reverse-proxy:
    external: true
    name: reverse-proxy
